//@import "vars";
@import "mixins";
@import "fonts";
@import "reset";

html {
  font-size: 12px;
  @include media-min-width('md') {   font-size: 14px;}
  @include media-min-width('lg') {   font-size: 16px;}
  //@include media-min-width('xl') {   font-size: 16px;}

}


body {
  font-family: $fontRob;
}
.top-bgr {
  background: url(../img/bg-mobile.png) no-repeat top center;
  background-size: 100% auto;
    @include media-min-width('lg') { background-image: url(../img/bg.png);    }
}

.container {
  //border: 1px solid red;
  padding: 0 rem(15);
  margin: 0 auto;
  max-width: 100vw;
  @include media-min-width('md') {   max-width: 720px;}
  @include media-min-width('lg') {   max-width: 992px;padding: 0 rem(35);}
  @include media-min-width('xl') {   max-width: 1200px;padding: 0 rem(55);}
  @include media-min-width('xxl') {   max-width: 1440px;padding: 0 rem(75);}

}

.row {  @include dFlex();}
.d-block {  display: block;}

svg.icon {
  height: rem(18);
  width: rem(18);
}

header {
  padding-top: rem(26);
  svg.icon.logo {

    height: rem(50);
    width: rem(42);

    margin-left: rem(5);
    @include media-min-width('md') { height: rem(80); width: rem(67); }
    @include media-min-width('lg') { height: rem(100); width: rem(83); }
    @include media-min-width('xl') { height: rem(128); width: rem(106); }
  }
  > .top {
      align-items: center;
      margin-bottom: rem(50);
    }


}


.head-contacts {
  margin-left: auto;
  @include dFlex();
  > .head-link {
    display: none;
    @include media-min-width('md') { display: flex; }
  }
}
.head-link {
  @include dFlex();
  align-items: center;
  //@include setFont($fontHev, 14, $fontColor);
  @include setFont($fontHev, 18, $fontColor);
  margin-right: rem(30);
    //@include media-min-width('md') {    font-size: rem(18); }

    svg { margin-right: rem(5);}
}

.head-phone-block {
  .head-link {    margin-right: 0;  }
}

.callback-link {
  @include setFont($fontHev, 14, $bg_icon);
  text-decoration: underline;
  float: right;
}
.main-content {
  padding-bottom: rem(36);
    //@include media-min-width('md') {    padding-left: rem(50); }
    //@include media-min-width('lg') {    padding-left: rem(92); }

      .btn {
        min-width: 100%;
        @include media-min-width('sm') {    margin-left: rem(10); min-width: unset; }
      }
}

.note-header {
  //@include setFont($fontHev, 22, $fontColor);
  //line-height: rem(32);
  @include setFont($fontHev, 28, $fontColor);
  line-height: rem(55);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 0 rem(18);

    //@include media-min-width('lg') { font-size: rem(28); line-height: rem(55);}


}
.note-block {
  @include dFlex();
  align-items: center;
  margin-bottom: rem(45);
  div {
    //@include setFont($fontHev, 24, #fff);
    @include setFont($fontHev, 32, #fff);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-color: $bg_icon;
    padding: rem(15) rem(18);
      //@include media-min-width('lg') { font-size: rem(32);padding: rem(15) rem(18);}

  }
    span {font-weight: bold;}

  svg.icon {
    display: none;
    @include media-min-width('md') {
      display: block;
      width: rem(88);
      height: rem(52);
      margin-left: rem(20);
    }

  }
}

.advantages-list {
  margin-bottom: rem(50);
  margin-left: rem(10);
  li {
    @include dFlex(flex-start,center);
    //@include setFont($fontHev, 14, $fontColor);
    @include setFont($fontHev, 16, $fontColor);
    letter-spacing: 0.04em;
    //@include media-min-width('md') {   font-size: rem(16);}

    }

  li:not(:last-child) {
    margin-bottom: rem(15);
  }

  svg {
    @include min-size(rem(30));
    @include size(rem(30));
    margin-right: rem(30);
  }
}
.btn {
  position: relative;
  @include dFlex(center,center);
  @include setFont($fontHev, 16, #fff);
  letter-spacing: 0.04em;
  height: rem(45);
  width: rem(277);
  letter-spacing: 0.04em;
  background: linear-gradient(97deg, $air 0%, $air2 100%);
  border: rem(1) solid $air2;
  border-radius: rem(3);
  cursor: pointer;
  z-index: 0;
  span {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(97deg, $air2 0%, $air 100%);
    transition: opacity 0.5s ease;
  }
  &:hover span {    opacity: 1;  }
}





.btn-down {
  margin: 0 auto;
  margin-top: rem(17);
  cursor: pointer;

  svg {height: rem(36);}
}
.how-work-section {
  .container {
    background-color: $bgc;
    padding-top: rem(70);
    padding-bottom: rem(88);
  }
}
h1 {
  @include dFlex();
  //@include setFont($fontHev, 20, $fontColor,normal,500,rem(30));
  //@include setFont($fontHev, 32, $fontColor,normal,500, 1.5);
  @include setFont($fontHev, 32, $fontColor,normal,500,rem(46));
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: rem(35);
    //@include media-min-width('md') {   font-size: rem(24); line-height: rem(34);margin-bottom: rem(45);}
    //@include media-min-width('lg') {   font-size: rem(32); line-height: rem(46);margin-bottom: rem(65);}


  &:before {
    content: '';
    display: inline-block;
    align-self: stretch;
    width: 0;
    border: rem(3) solid $bg_icon;
    border-radius: rem(3);
    margin-right: rem(20);
    background-color: $bg_icon;
    //transform: rotate(90deg);
  }
}

.how-work-block {
  @include dFlex(flex-start,center,row,wrap);

}
.how-work-item {
  @include dFlex(flex-start,center);
  flex: 1 1 100%;
  margin-bottom: rem(50);
    @include media-min-width('sm') { flex-basis: 50%}
    @include media-min-width('md') { flex-basis: 33%}


  div:not(.better) {
    padding: rem(15) rem(20);
    //@include setFont($fontRob, 16, $fontColor,normal,normal,rem(21));
    @include setFont($fontRob, 18, $fontColor,normal,normal,rem(21));
    letter-spacing: 0.02em;
      //@include media-min-width('md') { font-size: rem(18);}

  }
  div.better {
    //@include setFont($fontRob, 18, $fontColor,normal,500,rem(20));
    @include setFont($fontRob, 24, $fontColor,normal,500,rem(28));
    letter-spacing: 0.02em;
    text-align: center;
      //@include media-min-width('md') {  font-size: rem(24); line-height: rem(28);}
  }
  svg {
    @include min-size(rem(70));
    @include size(rem(70));

    @include media-min-width('md') {   @include min-size(rem(90));   @include size(rem(90));}
    @include media-min-width('lg') {   @include min-size(rem(108));   @include size(rem(108));}

  }
}
.better {
  //@include setFont($fontRob, 18, $fontColor,normal,normal,rem(23));
  @include setFont($fontRob, 20, $fontColor,normal,normal,rem(30));
  letter-spacing: 0.02em;
  background: #fff;
  border: 1px solid $bg_icon;
  border-radius: rem(6);
  padding: rem(10);
    //@include media-min-width('md') {  font-size: rem(20);padding: rem(30);}

}
.input-filed {
  @include setFont($fontHev, 16, #fff);
  padding: 0 rem(15);
  border: 1px solid #fff;
  border-radius: 3px;
  background: transparent;
  height: rem(39);
  flex: 1 1 auto;
  cursor: pointer;

}
//.gradient {background: linear-gradient(328deg, $bg_icon 0%, $bg_icon2 100%);}
.takeover-block {
  @include dFlex(flex-start, center, row, wrap);
  background: linear-gradient(328deg, $bg_icon 0%, $bg_icon2 100%);
  padding: rem(20);
  flex: 1 1 100%;
  max-width: 100%;

    @include media-min-width('md') {  padding: rem(27) rem(40);}
    @include media-min-width('xl') {  flex-wrap: nowrap;padding: rem(27) rem(80);}


  div {
    flex: 0 1 100%;
    @include setFont($fontRob, 18, #fff,normal,normal,1.5);
    letter-spacing: 0.02em;
    margin-bottom: rem(20);
      @include media-min-width('xl') {flex-basis: 50%; margin-bottom: 0;}

    span {  font-size: rem(24);}
  }
  form {
    @include dFlex(flex-start, center, row, wrap);
    flex: 1 1 100%;
      @include media-min-width('xl') {  flex-wrap: nowrap;flex-basis: 50%;}
  }
  input.input-filed {
    margin-bottom: rem(20);
    @include media-min-width('md') {  margin-right: rem(20); margin-bottom: 0;}
  }
  .btn {
    max-width: unset;
    width: 100%;
    @include media-min-width('md') {   max-width: rem(277);}

  }
}
@include placeholder {
  @include setFont($fontHev, 16, #fff);
  letter-spacing: 0.04em;
}

.better-section {
  .container {
    padding-top: rem(100);
    padding-bottom: rem(100);
    background: url(../img/bgr-ellipse.svg) no-repeat left center;
    background-size: auto calc( 100% - #{rem(100)} ) ;
  }
}
.better-block {
  @include dFlex(space-between, stretch, row, wrap);

    @include media-min-width('lg') { justify-content: flex-start;}

  .better {
    flex: 0 1 100%;
    //min-height: rem(188);
    margin-bottom: rem(30);

    @include media-min-width('sm') {  flex-basis: 48%;}
    @include media-min-width('lg') {  flex-basis: calc( 100% / 3 - 40px * 2 / 3 ) ;}

    &:not(:nth-child(3n)) {     @include media-min-width('lg') {  margin-right: rem(40);}}
    &:hover {box-shadow: 0px 0px 20px rgba(40, 27, 75, 0.14);}
    svg {
      display: block;
      margin-bottom: rem(10);
        @include media-min-width('lg') { margin-bottom: rem(30);}

    }
  }
}
.swiper-button-next, .swiper-button-prev {
  display: none;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity .5s;
  @include media-min-width('md') { display: block;}
  &:hover, &:active{opacity: 1;}
}
.swiper-button-next:after, .swiper-button-prev:after {display: none;}
.swiper-button-next svg, .swiper-button-prev svg {  @include min-size(rem(55));@include size(rem(55));}
.swiper-button-prev svg {  transform: rotate(180deg);}
.swiper-pagination-bullet {
  @include size(11px);
  background-color: $dot;
  margin-right: rem(14);
  opacity: 1;
  border-radius: 50%;
  @include media-min-width('md'){@include size(14px);}
  &-active {
    @include size(14px);
    background-color: $bg_icon;
    @include media-min-width('md'){@include size(18px);}

  }
}
.swiper-slide {
  @include dFlex(center,center);
}
.slider-block {
  @include dFlex(space-between,center);
  .swiper-button-prev, .swiper-button-next {
    position: relative;
    left: initial;
    right: initial;
    top: initial;
    bottom: initial;
    @include size(auto);

  }
  .slider {
    background-color: #fff;
    border: 1px solid rgba(40, 27, 75, 0.26);
    box-shadow: 0px 0px 20px rgba(40, 27, 75, 0.14);
    border-radius: rem(6);
    padding: rem(20);
    max-width: 100%;
    @include media-min-width('md'){
      max-width: calc( 100% - #{rem(220)});
      padding: rem(100) rem(45);
    }

  }
}
.slider-pagination {
  margin-top: rem(36);
  .swiper-pagination {
    @include dFlex(center,center);
    position: relative;
    left: initial;
    right: initial;
    top: initial;
    bottom: initial;
    margin: 0 auto;

  }
}
.proud-section {  padding-bottom: rem(100);}
.proud{
  //.swiper-slide {    max-height: rem(440);  }

}

.our-cases {
  &-section {
    .container {
      background-color: $bgc;
      padding-top: rem(100);
      padding-bottom: rem(100);;
    }
    .row:first-child {
      margin-bottom: rem(40);
      flex-wrap: wrap;
      @include media-min-width('lg'){flex-wrap: nowrap;}
      @include media-min-width('xl'){padding-right: calc( 55px * 2 );}

    }
    h1 {
      margin-bottom: rem(40);
      @include media-min-width('lg'){
        margin-right: rem(30);
        min-width: rem(450);
        flex-basis: 0%;
        margin-bottom: 0;

      }

    }
    .slider {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &-description {
    @include setFont($fontHev, 16, $fontColor,normal,normal, 1.6);
    letter-spacing: 0.02em;
    padding: rem(20) rem(25);
    background-color: #fff;
    border: rem(1) solid $ourcd;
    border-radius: rem(6);
    flex: 1 1 auto;
    span {    font-weight: bold;}

  }
  &.slider-pagination {
    margin-bottom: rem(100);
  }
}
.accent { color: $bg_icon;}

.sleep-quietly {
  &-section{
    padding-top: rem(125);
    padding-bottom: rem(100);
  }
  &-block {
    @include dFlex(space-between,flex-start,row,wrap);


  }
  &-item {
    width: 48%;
    margin-bottom: rem(20);

    @include media-min-width('lg'){ width: 22%;  margin-bottom: 0;}
    svg {
      @include min-size(rem(80));
      @include size(rem(80));
      display: block;
      margin: 0 auto rem(22);

    }
    >div {
      @include setFont($fontRob,18,$fontColor,normal,normal, rem(22));
      text-align: center;
      letter-spacing: 0.02em;

    }
  }
}
.takeover-girl {
  &-section {
    .container {
      padding-top: rem(50);
      padding-bottom: rem(50);
      background-color: $bgc;
    }
    .row {
      margin: 0 rem(-15);


      @include media-min-width('md') { margin: initial;}
    }
    .girl {
      display: none;
      position: absolute;
      left: 0;
      top: rem(-121);
      @include media-min-width('md') {display: block;}
      @include media-min-width('xl') {left: rem(100);}
    }
    .takeover-block {
      background: #fff;
      flex-direction: column;
      padding: rem(50) 0;
      max-width: 100%;
      align-items: stretch;

        @include media-min-width('md') {align-items: flex-start; max-width: 49%;}
        @include media-min-width('xxl') {align-items: flex-start;max-width: rem(580);}


      div {
        color: $fontColor;
        font-size: rem(24);
        margin-bottom: rem(30);
        span {
          font-size: rem(48);
          //line-height: rem(46);
          margin-bottom: rem(22);
        }
      }
      input {
        border-color: $air2;
        min-width: rem(277);
        margin-bottom: rem(20);
        margin-right: 0;
          @include media-min-width('xl') { margin-bottom: 0;  margin-right: rem(20);}

        &::-webkit-input-placeholder {color: $fontColor;}
        &:-moz-placeholder {color: $fontColor;}
        &::-moz-placeholder {color: $fontColor;}
        &:-ms-input-placeholder {color: $fontColor;}

      }
      .btn {
        max-width: 100%;
        @include media-min-width('xl') { max-width: unset; min-width: rem(277);}
      }

    }
  }
  &-block {
    background-color: #fff;
    border-radius: rem(6);
    margin-top:  rem(50);    margin-bottom: rem(0);
    position: relative;
    flex: 1 1 100%;
    padding: 0 rem(15);
    @include dFlex(flex-end);

    @include media-min-width('md') {margin-top:  rem(121);    margin-bottom: rem(81);}
    @include media-min-width('xl') {padding-right: rem(176) ;}

  }
}

.reviews {
  &-section {
    .container {
      background-color: $bgc;
      padding-top: rem(50);
      padding-bottom: rem(50);
      @include media-min-width('md') {padding-top: rem(100);      padding-bottom: rem(100);}

    }
  }
  &.slider-pagination {
    margin-bottom: rem(100);
  }

  &-item {
    background: $revbgr;
    border: 1px solid $ourcd;
    border-radius: rem(6);
    padding: rem(30);
    @include setFont($fontHev,16,$fontColor,normal,normal, rem(20));
    letter-spacing: 0.02em;
    height: rem(275);
    max-height: rem(275);


    >div {
      @include dFlex(flex-start, flex-start, column);
      overflow: hidden;
      @include min-size(100%);
      @include max-size(100%);

    }

    &-header {
      @include dFlex();
      margin-bottom: rem(33);
      font-weight: bold;
      span {
        font-weight: normal;
        color: $revtown;
      }


      svg {
        min-width: rem(50);
        min-height: rem(38);
        width: rem(50);
        height: rem(38);
        margin-right: rem(20);
      }
    }
    &-content {
      font-style: italic;
      margin-bottom: auto;
    }
  }
}

.calc {
  &-section{
    .container {
      background: url(../img/bg-calc.png) no-repeat center;
      background-size: cover;
      padding-top: rem(138);
      padding-bottom: rem(157);
    }
    .row {
      justify-content: center;
      flex-wrap: wrap;
    }

  }
  &-header {
    flex: 1 1 100%;
    @include setFont($fontHev, 32, #fff, normal, 500, rem(46));
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: rem(20);
  }

  &-text {
    flex: 1 1 100%;
    @include setFont($fontHev, 24, #fff, normal, normal, rem(46));
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: rem(30);
  }

}

.contacts{
  &-section {
    .container {
      padding-top: rem(93);
      padding-bottom: rem(100);
    }
    #map {
      //flex: 1 1 50%;
      //align-self: stretch;
      @include media-min-width('md') {padding-right: rem(30);}
    }
  }
  &-info {
    flex-wrap: wrap;
    @include media-min-width('md') {flex-wrap: nowrap;}
    >div {
      width: 100%;
      min-height: 250px;
      //min-height: 320px; // при включенном блоке с соцсетями
      align-self: stretch;

      @include media-min-width('md') { width: 50%;}

    }
  }

  &-block {
    flex: 1 1 50%;
    padding: rem(30);
    background: #fff;
    border: rem(1) solid $ourcd;
    border-radius: rem(6);
    @include setFont($fontHev, 16, $fontColor);
    letter-spacing: 0.02em;
    a {color: $fontColor;cursor: pointer;}
  }
  &-header {
    font-weight: 500;
    font-size: rem(24);
    margin-bottom: rem(30);
  }
  &-item {
    @include dFlex();
    margin-bottom: rem(30);
    svg {
      @include min-size(rem(20));
      @include size(rem(20));
      margin-right: rem(17);

    }
    .timetable {
      @include dFlex();
      margin-right: rem(100);
    }
    &:last-child {
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 0;
      @include media-min-width('xxl') {flex-wrap: nowrap;}
    }
  }
}
.soc-link-block {
  @include dFlex();
  display: none;
  margin-top: rem(20);
  @include media-min-width('xxl') {    margin-top: 0;}
  svg {
    @include min-size(rem(52));
    @include size(rem(52));
    margin-right: 0;
  }
  a:not(:last-child) {    margin-right: rem(30);  }

}
hr {
  border: rem(1) solid $hr;
  margin-bottom: rem(30);
}
.footer-row-1 {
  padding-top: rem(24);
  padding-bottom: rem(22);
  background-color: $footer_bg1;
  //a {color: $footer_txt1}

}
.footer-row-2 {
  background-color: $footer_bg2;
  padding-top: rem(21);
  padding-bottom: rem(27);

  div {
    @include setFont($fontHev,14,$footer_txt2);
  }
  a {color: #fff;}
}
footer {
  .icon.logo {
    @include size(rem(71));
    @include min-size(rem(71));
    --logocontur2 : #fff;
    --logocontur1 : #{$bg_icon};
    --victory-text : #fff;
  }
  .row{justify-content: space-between;align-items: center;}
  .phone-link {
    @include setFont($fontHev,16,#fff);
    display: block;
    min-width: 95px;
    text-align: right;
  }

}
.policy-link {
  @include setFont($fontHev,14,$footer_txt1);
  text-align: center;
  margin: 0 rem(15);

}
.footer-phone-block {
  //a {display: block;}
}
.close svg {
  @include min-size(rem(21));
  @include size(rem(21));
}

.modal {
  &.fancybox-content{
    padding: 0;
    overflow: visible;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    border-radius: rem(6);
  }
  max-width: rem(400);
  &-content {
    position: relative;
    padding: rem(30);
    @include media-min-width('md') {padding: rem(36) rem(60);}

  }
  .close {
    position: absolute;
    background: none;
    top: 10px;
    right: 10px;
    padding: 0;
    cursor: pointer;
    @include media-min-width('sm') {top: -25px;    right: -25px;}
  }
  &-header {
    @include setFont($fontHev,24,$fontColor,normal,normal,rem(32));
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: rem(38);
  }
  .input-filed {
    border-color: $fontColor;
    color: $fontColor;
    width: 100%;
    margin-bottom: rem(20);

    &::-webkit-input-placeholder {color: $fontColor;}
    &:-moz-placeholder {color: $fontColor;}
    &::-moz-placeholder {color: $fontColor;}
    &:-ms-input-placeholder {color: $fontColor;}

    &:focus {border-color: $bg_icon;}
  }
  .btn {min-width: 100%;}
}

.checkbox {
  @include dFlex();
  @include setFont($fontHev, 14, $revtown, normal, normal, rem(17));
  margin-top: rem(20);
  a {
    color:$bg_icon;
    &:hover {text-decoration: underline;}
  }

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
      &:checked + .chb-fantom svg{display: block;}
  }
  .chb-fantom {
    @include min-size(14px);
    @include size(14px);
    border-radius: 3px;
    background: $bg_icon;
    margin-right: rem(12);
    margin-top: rem(3);
      svg {
        @include min-size(14px);
        @include size(14px);
        display: none;
        margin: auto;
      }
  }
}


